[Desktop Entry]
Encoding=UTF-8
Name=cobrax
Comment=cobrax P2P Cryptocurrency
Comment[fr]=cobrax, monnaie virtuelle cryptographique pair à pair
Comment[tr]=cobrax, eşten eşe kriptografik sanal para birimi
Exec=cobrax-qt %u
Terminal=false
Type=Application
Icon=cobrax128
MimeType=x-scheme-handler/cobrax;
Categories=Office;Finance;